# The region into which your project will be deployed.
AWS_REGION={REGION}

# Setup Pulumi web to hold infra state
WEBINY_PULUMI_BACKEND=REDACTED
PULUMI_ACCESS_TOKEN=REDACTED

# Use AWS profiles for deployment
AWS_PROFILE=REDACTED

# Enable debugging mode.
DEBUG=true
